.wrapper {
  display: flex;
}

.wrapper>div:first-child {
  background-color: #24293e;
}

.wrapper>div:last-child {
  width: 100%;
  display: flex;
  overflow: auto;
}

.main_layout {
  height: 100vh;
}

.main_layout .header {
  background: #fff;
  padding: 0 20px;
}

.main_layout .content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: auto;
}

.logo_container {
  height: 60px;
}

.logo {
  color: #fff;
  text-align: center;
  padding: 21px;
}

.header {
  display: flex;
  align-items: center;
}

.header>div {
  margin-left: auto;
  cursor: pointer;
}