@import '~antd/dist/antd.css';
/* Remove outline on the forms and links */

textarea {
    margin: 0;
    border: none !important;
    resize: none;
    overflow: hidden;
}

textarea:focus {
    box-shadow: none !important;
}

.dialogs {
    padding: 0px !important;
    height: 80vh;
}

.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
}

.demo-loading-container {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

.messages-count-badge {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
    box-shadow: #FFFFFF 0px 0px 1px 5px;
    position: absolute;
    right: 5px;
    border-radius: 100%;
}

.dialogs-item-sider {
    background-color: #262e47;
    overflow: auto;
    min-width: 300px !important;
}

.dialogs-item-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.dialogs-item-container>span {
    display: inline-block;
}

.dialogs-item-container>span:nth-child(2) {
    display: inline-block;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.dialogs-item-container>div {
    display: inline-block;
    margin-left: auto;
}

.chat-conteiner {
    overflow: auto;
    padding: 15px;
    border-bottom: 2px solid #f0f2f5;
}

.send-button {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}